<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/raw.css">
    <title>About Mehedi Hasan</title>
</head>
<body>
    <header>
        <figure id="tinyImage">
            <img src="../../images/profile.jpg" alt="" >
            <figcaption>Mehedi Hasan <br>Data Analyst</figcaption>
        </figure>
        Mehedi Hasan is a fresh graduate from East West University with excellent academical results with his brilliant projects. There are more about him...
    </header>
    <main>
        <div class="box academic">
            <article>
                <header>
                    Education <br>
                    BSC <time datetime="2024-08-30">August 30,2024</time> <br>
                    HSC <time datetime="2019-05-30">April 5,2019</time>
                </header>
                

                
                <section>
                    <h3>Education and Experience</h3>
                    <p>I hold a Bachelor of Science (B.Sc.) degree in Computer Science and Engineering (CSE) from East West University,
                        where I graduated with a CGPA of 3.60. During my time at the university, I served as a Teaching Assistant (TA)
                        for 1.5 years, which allowed me to deepen my understanding and expertise in core CSE subjects.
                        My academic and teaching experience has equipped me with strong foundational knowledge in areas such as data structures,
                        algorithms, software engineering, and machine learning.</p>
                </section>
                <section>
                    <h3>Specializations</h3>
                    <p>I have a strong interest and expertise in deep learning, particularly in natural language processing (NLP) tasks. One of my notable projects includes the development of a GPT-based model named PixieGPT, designed specifically for a university system. This model is fine-tuned to handle academic queries, demonstrating my ability to apply advanced neural network architectures to real-world problems.</p>
                </section>
            </article>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>