<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/raw.css">
    <title>Data Analyst Mehedi Hasant</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <header>
            <figure id="tinyImage">
                <img src="../../images/profile.jpg" alt="">
                <figcaption>Mehedi Hasan<br>Data Analyst</figcaption>
            </figure> 
        </header>
        <ul>
            <h3>Best Projects</h3>
            <li><a href="pixiegpt.html">PixieGPT:a question answering system for university of Bangladesh</a></li>
            <li><a href="alzhiemer.html">Alzhiemer disease classification using CNN</a></li>
        </ul>
    </main>
    <footer>
        <h3>Working Since <time datetime="2022-06-01">June 1, 2022</time></h3>
        <address>
            Email me at : <a href="mehedi.ds.engr@gmai.com">mehedi.ds.engr@gmai.com</a><br>
            Sector: 11, Uttara, Dhaka
        </address>
        <p><small>&copy;All Rights Reserved</small></p>
    </footer>
</body>
</html>