<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/raw.css">
    <title>User Profile</title>
</head>
<body>
    <header>
        <section>
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="profile.html">Profile</a>
                        <ul class="dropdown">
                            <li>
                                <a href="personalInfo.html">Personal Info</a>
                                <ul class="dropdown">
                                    <li><a href="bio.html">Bio</a></li>
                                    <li><a href="personality.html">Personality</a></li>
                                    <li><a href="goals.html">Goals</a></li>
                                    <li><a href="motivations">Motivations</a></li>
                                </ul>
                            </li>
                            
                            <li><a href="achievements">Achievements</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>
    </header>


    <main>
        <section class="menubar">
            <div class="personal"><a href="bio.html">Bio</a></div>
            <div class="personal"><a href="personality.html">Personality</a></div>
            <div class="personal"><a href="goals.html">Goals</a></div>
            <div class="personal"><a href="motivation.html">Motivations</a></div>
        </section>
    </main>


    <footer>

    </footer>
</body>
</html>