<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services provided by Mehedi Hasan</title>
    <link rel="stylesheet" href="../styles/raw.css">

</head>
<body>
    <header>
        <section>
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="profile.html">Profile</a>
                        <ul class="dropdown">
                            <li>
                                <a href="personalInfo.html">Personal Info</a>
                                <ul class="dropdown">
                                    <li><a href="bio.html">Bio</a></li>
                                    <li><a href="personality.html">Personality</a></li>
                                    <li><a href="goals.html">Goals</a></li>
                                    <li><a href="motivations">Motivations</a></li>
                                </ul>
                            </li>
                            
                            
                            <li><a href="achievements">Achievements</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>
        <ul>
            <h3>The List of Services are as provided</h3>
            <li>Make your own GPT from scratch for your Company</li>
            <li>Make full stack GPT websites or apps for your industry</li>
            <li>Get your Data Analysis task done</li>
        </ul>
    </header>
    <main>
        <div class="form">
            <form id="serviceForm">
                <h3>Schedule a meeting for Getting service</h3>
                <label for="name" class="row1">Full Name: 
                    <input type="text" name="" id="name" placeholder="Your Name Here">
                </label>              

                <label for="email" class="row1" >Your Email: 
                    <input type="email" name="" id="email" placeholder="xyz@gmail.com">
                </label>
                
                <label for="companyName" >Company Name: 
                    <input type="text" name="" id="companyName" placeholder="XYZ Company Ltd.">
                </label>

                <label for="address" >Company Address: 
                    <input type="text" name="" id="address" placeholder="Street, Post Code, City, Country">
                </label>
                
                <fieldset class="outer-fieldset" form="serviceForm">
                    <legend>Select service you need</legend>
                    <label for="gptScratch">
                        <input type="checkbox" name="service" id="gptScratch">Get my own GPT
                    </label>
                    <label for="fullStackGPT">
                        <input type="checkbox" name="service" id="fullStackGPT">Get Website for your Company with a custom made GPT
                    </label>
                    <label for="dataAnalysis">
                        <input type="checkbox" name="service" id="dataAnalysis">Get your Data Analysis task Done
                    </label>

                    <label for="srs">Enter SRS or Software Requirements</label>
                    <textarea name="" id="srs" cols="40" rows="5"></textarea>

                    <fieldset form="serviceForm">
                        <legend>Choose your expected date to get the Product</legend>
                        <label for="1week">
                            <input type="radio" name="time" id="1week">1 Week
                        </label>
                        <label for="2weeks">
                            <input type="radio" name="time" id="2weeks">2 Weeks
                        </label>
                        <label for="3weeks">
                            <input type="radio" name="time" id="3weeks">3 Weeks
                        </label>
                        <label for="4weeks">
                            <input type="radio" name="time" id="4weeks">4 Weeks
                        </label>
                        <label for="otherTime">Select a week:
                            <input type="week" name="time" id="otherTime">
                        </label>
                    </fieldset>
                </fieldset>
                <input type="reset" value="Reset">
                <input type="submit" value="submit">
            </form>
        </div>
        
    </main>
</body>
</html>