nav>ul>li{
    display: inline;
    margin-right: 10px;
}

nav>li{
    text-decoration: none;
}
nav{
    text-align: right;
}
/* #tinyImage{
    text-align: right;
} */
#tinyImage img{
    width: 100%;
    height: 300px;
    display: inline-block;

}